#seven i.fa-angle-down {  /* there are no more pages to display */
    display: none;
}

#seven {
    background-color: #3AAD3A;
}

#seven h1 {
    padding: 2em 0 1em 2em;
    font-style: italic;
    color: #f5f5f5;
}

#seven p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Raleway';
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    color: #222;
    line-height: 1.4em;
}

#seven a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Raleway";
    font-weight: 400;
}

#seven a:hover {
    color: #fff;
}
