#four {
	background-color: #e69;
	height: 200vh;
    /* background-image: url(../assets/triangle.svg);
    background-size: 100vw; */
	z-index: -200;
}

#four * {
    z-index: 100;
}

#white-triangle {
    display: none;
    height: 200vh;
    width: 66vw;
    position: absolute;
    top: 0;
    left: 0;
}

#four #white-triangle-two {
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200vh 0 0 66vw;
	border-color: transparent transparent transparent #f5f5f5;
}

#four .wrapper {
	z-index: 4;
    width: 100vw;
    height: 100vh;
    display: block;
}

#four #sheet {
	height: 80%;
	width: 50%;
	
	display: inline-block;
	
	margin-left: 10%;
	margin-top: 20vh;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px #999;
}

#four #wrapper-1 > h1 {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    color: #111;
    font-family: "The Girl Next Door";
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
}

#sheet * {
    font-family: "Indie Flower";
}

#sheet h1 {
    padding: 0.5em;
    color: #333;
}

#sheet h2 {
    font-size: 2em;
    text-align: center;
}

#sheet h2.entrate {
    color: #060;
}

#sheet h2.uscite{
    color: #600;
}

#sheet table {
    width: 80%;
    margin: auto;
}

#sheet table * {
    font-size: 24px;
    color: #333;
}

#sheet th, td {
    text-align: center;
}

#sheet tr:first-child {
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
}

#sheet td:first-child {
    text-align: left;
}

#sheet table.entrate tr:not(:first-child) td:last-child {
    color: #060;
}

#sheet table.uscite tr:not(:first-child) td:last-child {
    color: #600;
}

/*#four #sheet {
	height: 85%;
	width: 50%;
	position: absolute;
	left: 10%;
	bottom: 0;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px #999;
}*/

#four #wrapper-1 p {
	font-family: "Indie Flower";
	line-height: 1.25em;
	font-size: 27px;
	
	color: #111;
	float: right;
	text-align: justify;
    width: 30%;
	margin: 25vh 5% auto;
}

#four .video {
	position: absolute;
	bottom: 107vh;
	right: 5%;
}
