.page:nth-child(3) {
    background-color: #339633;
}

.page:nth-child(3) #background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
}

.page:nth-child(3) > #vertical-bar {
    float: left;
    display: inline-block;
    font-size: 20px;
    height: 3em;
    width: 1px;
    border-right: 2px solid #555;
    /* padding: 3em 0; */
    margin: 3em 1em 0 5em;

}

.page:nth-child(3) > h2 {
    float: left;
    width: 25%;
    font-size: 20px;
    padding: 3em 0;
}

.page:nth-child(3) > #bill {
	position: relative;
	z-index: 1;
    display: inline-block;
    height: 25vh;
    width: 60vh;

    margin: 10em auto;
    font-size: 16px;
	transform: rotate(0.05turn);
}


.page:nth-child(3) > #bill > img, #bill > p {
	position: absolute;
	top: 0;
	left: 0;
}

#bill > p {
	width: 85%;
	text-align: justify;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}