#eight {
    display: flex;
    align-items: flex-center;
    background-color: #66b0ee;
}

#eight p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
	line-height: 1.3em;
    display: block;
    width: 20vw;
    text-align: justify;
    margin: auto 5vw;
    float: left;
	color: #222;
}

#eight > #bank {
    position: relative;
    float: left;
    width: 40vw;
    display: block;
    margin: auto;
}

#eight #bank img {
    display: inline;
    width: 100%;
    height: 100%;
}

#eight iframe {
    position: absolute;
    top: 47.5%;
    left: 25%;
    width: 50%;
    height: 30%;
}
