#six {
  border-radius: 3em;
  background-color: #b00;
}

#six #magnetic-band {
	
	width: 100%;
	height: 5.5em;
	background-color: black;
	
	position: absolute;
	top: 4em;
  
}

#six .video {
    position: absolute;
	bottom: 3em;
	right: 3em;
}

#six > .wrapper {
    width: 60%;
}
#six p {
	width: 70%;
	margin: 0 auto;
	padding-top: 30%;
	font-size: 20px;
	text-align: justify;
}