#eight {
    display: flex;
    align-items: flex-center;
    background-color: #69e;
}

#eight p {
    display: block;
    width: 20vw;
    text-align: justify;
    margin: auto 5vw;
    float: left;
    color: #000;
}

#eight > #bank {
    position: relative;
    float: left;
    width: 40vw;
    display: block;
    margin: auto;
}

#eight #bank img {
    display: inline;
    width: 100%;
    height: 100%;
}

#eight iframe {
    position: absolute;
    top: 47.5%;
    left: 25%;
    width: 50%;
    height: 30%;
}
