
#wrapper-2 > div {
    position: relative;
    width: 50%;
    height: 100vh;
    float: left;
}

#wrapper-2 > div p {
    font-family: "Indie Flower";
    line-height: 1.1em;
    position: absolute;
    font-size: 1.25em;
    color: #555;
    
    width: 60%;
    text-align: justify;
    right: 10%;
}

#wrapper-2 > div.left  p{
    left: 10%;
    right: auto;
    top: 4.5em;
    bottom: auto;
}

#wrapper-2 > div p {
	color: #111;
	line-height: 1.25em;
    bottom: 4.5em;
}

#wrapper-2 > div:nth-child(2) {
    /* background-color: #FFC0CB; */
}

img.pig {
	position: absolute;
    left: 15%;

    width: 70%;
    /*height: 35%;*/

    margin: 0 auto;
}

#wrapper-2 > div:nth-child(2) > img.pig {
    top: 3em;
}

#wrapper-2 > div:first-child > img.pig {
    bottom: 3em;
}
