#three {
    background-color: #63B254;
    /* box-shadow: 0 0 5px #333;5 */
}

#three #background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    box-shadow: 0px 5px 15px -3px #333333
}

#three #vertical-bar-wrapper {
    float:left;
    /* position: absolute; */
    padding: 4em;
}

#vertical-bar-wrapper div {
    top: 4em;
    left: 4em;
    border-left: 2px solid #333;
    padding-left: 2em;
}

#three #vertical-bar-wrapper h1 {
    margin: 0;
    font-size: 30px;
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
}

#three #vertical-bar-wrapper h2 {
    font-family: Raleway;
    font-style: italic;
    text-align: justify;
    width: 25%;
    font-size: 20px;
}

#three #bill {
    top: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    /* display: inline-block; */
    /* height: 25vh; */
    width: 65vh;
    max-height: 12em;

    /* margin: 10em auto; */
    font-size: 16px;
    /* transform: translate(-50%, -50%) rotate(0.05turn); */
    border: 2px solid black;
    background-color: #070;
    transition: 0.1s linear;
}


#bill p {
    position: absolute;
    top: 0;
    left: 0;
}

#bill p {
    font-family: "Varela Round";
    font-size: 17px;
    line-height: 1.2em;
    color: #111;
    float: left;
    width: 85%;
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
